<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Restroom Finder App</title>
    <link rel="stylesheet" href="/style.css" />
  </head>

  <body>
    <h1 data-position="header">May Node and Express be with you.</h1>

    <section data-position="add-restroom">
      <h2>Add restroom</h2>

      <form action="/restrooms" method="POST">
        <input type="text" placeholder="name" name="name" />
        <input type="text" placeholder="restroom" name="restroom" />
        <button type="submit">Submit</button>
      </form>
    </section>

    <section data-position="update-restroom">
      <div>
        <h2>Darth Vadar invades!</h2>
        <p>
          Replace first Yoda's restroom with a restroom written by Darth Vadar
        </p>
        <button id="update-button">Replace Yoda's restroom</button>
      </div>
    </section>

    <section data-position="delete-restroom">
      <div>
        <h2>Remove Darth Vadar!</h2>
        <p>
          Delete one Darth Vadar's restroom. Does nothing if there are no more
          Darth Vadar's restroom
        </p>
        <button id="delete-button">Delete Darth Vadar's restroom</button>
      </div>
      <div id="message"></div>
    </section>

    <section data-position="restrooms">
      <h2>Quotes</h2>

      <ul class="restrooms">
        <% for(var i = 0; i < restrooms.length; i++) {%>
        <li class="restroom">
          <span><%= restrooms[i].name %></span>:
          <span><%= restrooms[i].restroom %></span>
        </li>
        <% } %>
      </ul>
    </section>

    <script src="/main.js"></script>
  </body>
</html>